.menu {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  flex-direction: column;
}

.menu__link--active {
  position: relative;
  display: block;
  color: var(--accent);

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
    padding: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu__link {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  position: relative;
  display: block;
  color: var(--secondary-text-color);
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
