
.primary-title {
    font-size: 100px;
    line-height: 0.3;
    letter-spacing: 5px;
    font-weight: 700;  
    text-transform: uppercase;
      
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: var(--secondary-text-color);
      
  
  // @media screen and  (max-width: 1199px) {
  // font-weight: 700;
  // font-size: 28px;
  // line-height: 1.14;
  // margin-bottom: 30px;
  // }
  }
  
  .secondary-title{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.9px;
    font-weight: 700;  
    text-transform: uppercase;
    }
  