:root {
    --primary-text-color:#000000;
    --secondary-text-color: #ffffff;
    --dark-bg-color: #4a3949;
    --copyright-color:#8b8b8b;
    --accent: #f57365;
    --bg-color:#f7f7f7;
    --form-color:#482e45;
    
  

  
    --grid__item: 1;
  }