.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-top: -50px;
    padding: 0;
    list-style: none;
  }
  
  .grid__item {
    margin-left: 50px;
    margin-top: 50px;
    flex-basis: calc((100% - 50px * var(--grid__item)) / var(--grid__item));
  }
  