.page-header{
position: absolute;
top: 0;
left: 0;
width: 100%;
font-weight: 700;
font-size: 14px;
line-height: 2.14;
letter-spacing: 0.7px;
text-transform: uppercase;

text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);

}

.page-header__container{
  display: flex;
  
}


.menu-filters__item{
  margin-right: 30px;
}

.menu-filters{
background-color: transparent;
align-items: center;
@media screen and (max-width: 768px) {
  display: none;
}
}
.navigation{
  display: flex;
  width: 100%;
  align-items: center;
}

.logo{
  
  @media screen and (max-width: 768px) {
    width:70px;
    height: 70px;
}
}

.secondary-button{
font-size: 14px;
font-weight: 700;
line-height: 2.14;
letter-spacing: 0.7px;
text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
color:var(--secondary-text-color);

}