.header{
font-weight: 700;
font-size: 14px;
line-height: 2.14;
letter-spacing: 0.7px;
text-transform: uppercase;

text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
background-color: var(--dark-bg-color);
}