.page-header{

font-weight: 700;
font-size: 14px;
line-height: 2.14;
letter-spacing: 0.7px;
text-transform: uppercase;

text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
background-color: var(--dark-bg-color);
}
.page-header__container{
  display: flex;
  align-items: center;
  justify-content: space-between
  
}


.menu-filters__item:not(:first-child){
  margin-left: 30px;
}

.menu-filters{

align-items: center;
}

.navigation{
  display: flex;
  padding: 50px 0;
  margin-right: 83px;
}

.logo{
  margin-left: 82px;
}

.secondary-button{
font-size: 14px;
font-weight: 700;
line-height: 2.14;
letter-spacing: 0.7px;
text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
color:var(--secondary-text-color);

}