.introduction{
  background-color: var(--bg-color);
  overflow: hidden;
}

.introduction__container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.introduction__action{
  display: flex;
  position: absolute;
  top: 28%;
  right: 57%;

}
.introduction__title{
padding-top: 182px;
margin-bottom: 30px;
@media screen and (max-width: 767.98px) {
  font-size: 14px;
}
}

.introduction__content{
  max-width: 543px;
  height: 300px;
  padding:20px 0;
}

.introduction__text{
margin-bottom: 29px;
@media screen and (max-width: 767.98px) {
  font-size: 12px;
}
}
.introduction__item:not(:last-child){
margin-right: 10px;
}
.introduction__image{
margin-top: 102px;
height: 779px;

}