
.statistics{
    padding: 60px 0;
}
.statistics__list{
    justify-content: space-evenly;
    text-align: center;
}

.statistics__text{
    @media screen and (max-width: 767.98px) {
font-size: 12px;
}
}

.statistics__label{
    margin-bottom: 12px;
    @media screen and (max-width: 767.98px) {
        font-size: 10px;
}
}


